@model EmployeeCreateVM
<div class="container">
    <div class="row">
        <form method="post" asp-for="Create" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="FullName">FullName</label>
                <input asp-for="FullName" class="form-control" placeholder="Enter FullName">
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Image">Image</label>
                <input asp-for="Image" type="file" class="form-control" placeholder="Enter Image">
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" asp-items=" ViewBag.Categories">
                    <option value="">Select Category</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>